.squares-wrapper{
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: flex-start;

    background-color: black;
    background: linear-gradient(to left, black, rgb(76, 79, 87));
}

/* Left */

.squares-wrapper > .left-square-wrapper{
    margin: 20px 60px 0px 40px;
}
.squares-wrapper > .left-square-wrapper > .text-wrapper p1{
    color: white;
    font-size: 2.1em;
}
.squares-wrapper > .left-square-wrapper > .text-wrapper p{
    opacity: 60%;
    font-size: 1.9em;
}

.squares-wrapper > .left-square-wrapper > .buttons-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;  
    margin: 0px 10px 0px 10px;
}
.squares-wrapper > .left-square-wrapper > .buttons-wrapper > .signUpIndex-btn-wrapper button{
    padding: 10px 30px;
    background-color: rgb(75, 206, 121);
    border: 1px solid rgb(75, 206, 121);
    color: black;
    font-size: 2em;
    border-radius: 2px;
    outline: none;
    margin: 0px 20px 0px 0px;
    transition: 0.3s;
}
.squares-wrapper > .left-square-wrapper > .buttons-wrapper > .learnMore-btn-wrapper button{
    padding: 10px 30px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 2em;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

/* Right */
.squares-wrapper > .right-square-wrapper{
    margin: 20px 0px 0px 0px;
}
.squares-wrapper > .right-square-wrapper > .image-wrapper img{
    width: 550px;
    height: 100%;
}
